.banner{
    width: 100vw;
    height: max-content;
    background: rgb(255, 207, 50);
    top: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.text{
    text-align: center;
    font-size: 14px;

}