
.dropbtn {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.768) !important;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    width: 140px;
    height: 30px;
    border: none;
    text-align: center;
    line-height: 0px;
    font-family:'Times New Roman', Times, serif;
    
  }
  
  .dropdown {
    margin: 10px;
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent .a {
    color: black;
    width: 140px;
    padding: 12px 1px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownContent .a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdownContent {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ffffff;}