:root {
  --green: #6cbf4f;
  --yellow: #ffcd4c;
  --white: #fff;
  --black: #000000;
  --blue: #005bc6;
  --lightgray: #e6e6e6;
  /* How to use = ex. background-color: var(--white); */
}
h1,
h2,
h3,
h4,
p,
span,
link,
a,
input,
button,
div {
  font-family: "Habibi", serif;
}
.App {
  text-align: center;
}

.test {
  height: 100vh;
  padding-top: 5vh;
}

body {
  margin: auto 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
